<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	</head>>
	<body>
		<h1>Ai fost contactat de pe site</h1>
		<p>
			Ti-au fostcerute datele de contact de catre
		</p>
		<p>
			<%= @contact.name %><br>
			<%= @contact.email %><br>
		</p>
		<p>
			Acesta ti-a transmis
		</p>
		<p>
			<%= @contact.content %>
		</p>
	</body>
	</html>